h1 {
  color: rgb(1, 5, 7);
}

body {
  background-color: bisque ;
  text-align: center;
}

h3 {
  color: coral;
  font-size: 25px;
}

a:link, a:visited {
  font-size: 20px;
  color: rgb(94, 44, 173);
  text-decoration: none;
}

a:hover {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
  color: rgb(33, 139, 189);
}

#frame {
  background-color: white;
  width: 370px;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  margin-top: 30px;
}